ROOT_DIR=

MLFLOW_TRACKING_URI=http://localhost:5002
S3_ENDPOINT_URL=http://localhost:9000

# MLflow configs
AWS_ACCESS_KEY_ID=minio
AWS_SECRET_ACCESS_KEY=minio123
MYSQL_DATABASE=mlflow_database
MYSQL_USER=mlflow_user
MYSQL_PASSWORD=mlflow
MYSQL_ROOT_PASSWORD=mysql

NGROK_AUTH_TOKEN=33W1LLAh3z0oy7MZBd0Gx0EVOMG_4ypV9Fw9MrfpRPqHnFDkM

# Fix Ubuntu poetry freeze can not poetry install
PYTHON_KEYRING_BACKEND=keyring.backends.null.Keyring